@import '../../assets/styles/variables';

.home-page {
  overflow: hidden;
}

.section {
  padding: 5rem 0;
  
  &.featured-projects {
    background-color: $primary-light;
  }
  
  &.services-preview {
    background-color: $primary-default;
  }
  
  &.testimonials {
    background-color: $primary-light;
  }
}

@media (max-width: $breakpoint-md) {
  .section {
    padding: 3rem 0;
  }
}